In [8]:
# Q1.
# AnS-
import pandas as pd

data = [4,8,15,16,23,42]
series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [10]:
# Q2.
# ANS-
var_data = [2,4,6,8,10,12,14,16,18,20]
series = pd.Series(var_data)

print(series)

0     2
1     4
2     6
3     8
4    10
5    12
6    14
7    16
8    18
9    20
dtype: int64

In [25]:
# Q3.
# ANS-
data = {"Name":["Alice","Bob","Claire"],
        "Age":[25,30,27],
        "gender":["Female","Male","Female"]}
df = pd.DataFrame(data)
print(df)

     Name  Age  gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [26]:
Q4.
# ANS-
# In Pandas, a DataFrame is a two-dimensional labeled data structure with columns of potentially different data types, similar to a spreadsheet or SQL table. It is one of the most commonly used data structures in Pandas and is used to store and manipulate tabular data. A DataFrame can be thought of as a collection of Pandas Series, where each column of the DataFrame represents a single Series.

# The main difference between a DataFrame and a Pandas Series is that a DataFrame can store multiple columns of data with potentially different data types, whereas a Series can store only a single column of data with a single data type. Additionally, a DataFrame has both row and column indices, whereas a Series has only a single index.

# EXAMPLE-
data = {'name': ['John', 'Jane', 'David', 'Emily'],
        'age': [30, 25, 35, 28],
        'city': ['New York', 'London', 'Paris', 'Sydney']}
df = pd.DataFrame(data)
print(df)

    name  age      city
0   John   30  New York
1   Jane   25    London
2  David   35     Paris
3  Emily   28    Sydney

In [29]:
# Q5.
# ANS-
# Pandas provides a wide range of functions to manipulate and analyze data in a DataFrame. Here are some common functions you can use to manipulate data in a Pandas DataFrame:

# 1.head() and tail(): These functions are used to view the top and bottom rows of the DataFrame, respectively. For example, df.head() will show the first five rows of the DataFrame df.

# 2.describe(): This function is used to view the summary statistics of the DataFrame, such as count, mean, standard deviation, minimum, and maximum values of each column.

# 3.info(): This function is used to view the data types, non-null values, and memory usage of each column in the DataFrame.

# 4.drop(): This function is used to drop rows or columns from the DataFrame. For example, df.drop('column_name', axis=1) will drop the column named 'column_name' from the DataFrame df.

# EXAMPLE-
import pandas as pd
import numpy as np

data = {'name': ['John', 'Jane', 'David', 'Emily'],
        'age': [30, 25, np.nan, 28],
        'city': ['New York', 'London', 'Paris', 'Sydney']}
df = pd.DataFrame(data)

# Print the first five rows of the DataFrame
print(df.head())

# Print the last three rows of the DataFrame
print(df.tail(3))

# View the summary statistics of the DataFrame
print(df.describe())

    name   age      city
0   John  30.0  New York
1   Jane  25.0    London
2  David   NaN     Paris
3  Emily  28.0    Sydney
    name   age    city
1   Jane  25.0  London
2  David   NaN   Paris
3  Emily  28.0  Sydney
             age
count   3.000000
mean   27.666667
std     2.516611
min    25.000000
25%    26.500000
50%    28.000000
75%    29.000000
max    30.000000

In [ ]:
Q6.
ANS-
Both Pandas Series and DataFrame are mutable in nature, meaning that you can modify the contents of a Series or DataFrame after it has been created. However, Pandas Panel is immutable, which means that you cannot modify its contents once it has been created.
but pands panel panel is not mutable so it is not modified.

In [31]:
# Q7.
# ANS-
names = pd.Series(['John', 'Jane', 'David'])
ages = pd.Series([30, 25, 28])
cities = pd.Series(['New York', 'London', 'Paris'])

# Create a DataFrame using the three Series
data = {'Name': names, 'Age': ages, 'City': cities}
df = pd.DataFrame(data)
print(df)

    Name  Age      City
0   John   30  New York
1   Jane   25    London
2  David   28     Paris